.signUp__icon_devices {
    background-image: url('https://assets.nflxext.com/ffe/siteui/acquisition/simplicity/Devices.png');
    width: 260px;
    height: 90px;
}

.signUp__txt{
    max-width: 300px;
    margin: 1.5rem auto;
}