@import '../../../style/variables';
@import '../../../style/mixins.scss';

.nfBtn {
  font-size: 0.9rem;
  font-weight: 400;
  color: #fff;
  background-color: $secondary-color;
  border-radius: 3px;
  padding: 0.2rem 0.5rem;
  border: none;
  cursor: pointer;

  &.nfBtn_Big {
    font-size: 1.5rem;
    font-weight: 700;
    padding: 0.35rem 1rem;
    min-height: 55px;
  }

  &.signBtn{
    width: 100%;
    min-height: 48px;
    padding: .7rem 1.8rem;
  }
}

@include tablet {
  .nfBtn {
    font-size: 1rem;
    padding: 7px 17px;
  }
}

@include desktop {
  .nfBtn.nfBtn_Big {
    min-width: fit-content;
    min-height: 60px;
    padding: 0 3rem;
    border-radius: 0;
    border-left: 1px solid #333;
    font-size: 1.5rem;
  }
}
