@import '../../../style/variables';
@import '../../../style/mixins.scss';

.logo {
    width: auto;
    height: 1.5rem;
    fill: $secondary-color;
    display: block;

}
.logo_large {
    width: 75px;;
}

@include tablet {
    .logo_large {
        width: 167px;
        height: 45px;
    }
}